/* Utility Classes */
.bg_darkblue{
    background-color: #2c3e50;
}
.bg_blue{
    background-color: #3a546d;
}
.bg_green{
    background-color: #1abc9c;
}

.text_darkblue{
    color: #2c3e50;
}
.text_blue{
    color: #3a546d;
}
.text_white{
    color: white;
}

.py_50{
    padding-top: 50px;
    padding-bottom: 50px;
}
.py_20{
    padding-top: 20px;
    padding-bottom: 20px;
}

.my_t20{
    margin-top: 20px;
}

[class*=h1]{
    font-weight: bold;
}

/* /Utility Classes */

/* HEADER */
.hero_img{
   width: 250px;
   margin-bottom: 20px;
}

.star{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.star::before{
    content: "";
    width: 100px;
    height: 3px;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}
.star::after{
    content: "";
    width: 100px;
    height: 3px;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}

.middle_span::before{
    content: "";
    width: 10px;
    height: 2px;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    margin:auto 5px;
}
.middle_span::after{
    content: "";
    width: 10px;
    height: 2px;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    margin:auto 5px;
}
/* /HEADER */

/* MAIN */
/* Main_First_Pannel */
.star.text_blue::before{
    content: "";
    width: 100px;
    height: 3px;
    background-color: #2c3e50;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}
.star.text_blue::after{
    content: "";
    width: 100px;
    height: 3px;
    background-color: #2c3e50;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}

.pics{
    width: 100%;
    border-radius: 10px;
}
/* /Main_First_Pannel */


/* Main_Third_Pannel */
.no_border{
    border: 1px solid white;
    border-bottom: 1px solid lightgrey;
    line-height: 30px;
    padding-bottom: 10px;
}
.no_border::placeholder{
    color: black;
}
/* /Main_Third_Pannel */
/* /MAIN */


/* FOOTER */
/* footer_first_pannel */
.social_icons{
    width: 40px;
    height: 40px;
    line-height: 38px;
    border: 1px solid white;
    border-radius: 50%;
    vertical-align: middle;
}
/* footer_first_pannel */
/* footer_copy */
.footer_copy{
    line-height: 80px;
    font-size: 13px;
    font-weight: bold;
}
/* /footer_copy */
/* FOOTER */

@media screen and (max-width:767px){
    .about, .about_form{
        padding:0 10%;
    }
    .around{
        margin:25px 0;
    }
}